# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py_class
*.so
.Python

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Env
*.env
!*.env.example
.env

# Django
local_settings.py
*.local
db.sqlite3
db.sqlite3-journal
/staticfiles
/media

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
